@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

.app {
  --num-textual-infos: 2;
  --textual-info-height: 32px;
  --toolbar-height: 96px;
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Jost", sans-serif;
}

.textual-info {
  margin: 0;
  padding: 0 16px;
  height: var(--textual-info-height);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.clock {
  display: flex;
  justify-content: center;
}

.face {
  --size: calc(
    100vmin - var(--num-textual-infos) * var(--textual-info-height) -
      var(--toolbar-height)
  );
  --tick-from: calc(50% - var(--size) / 180);
  --tick-to: calc(50% + var(--size) / 180);
  position: relative;
  box-sizing: border-box;
  width: var(--size);
  height: var(--size);
  max-width: 1000px;
  max-height: 1000px;
  border-radius: 50%;
  border: calc(var(--size) / 90) solid black;
  background: linear-gradient(45deg, black, transparent),
    radial-gradient(circle at center, white 0, white 69%, transparent 69%),
    linear-gradient(
      0deg,
      transparent,
      transparent var(--tick-from),
      black var(--tick-from),
      black var(--tick-to),
      transparent var(--tick-to)
    ),
    linear-gradient(
      30deg,
      transparent,
      transparent var(--tick-from),
      black var(--tick-from),
      black var(--tick-to),
      transparent var(--tick-to)
    ),
    linear-gradient(
      60deg,
      transparent,
      transparent var(--tick-from),
      black var(--tick-from),
      black var(--tick-to),
      transparent var(--tick-to)
    ),
    linear-gradient(
      90deg,
      transparent,
      transparent var(--tick-from),
      black var(--tick-from),
      black var(--tick-to),
      transparent var(--tick-to)
    ),
    linear-gradient(
      120deg,
      transparent,
      transparent var(--tick-from),
      black var(--tick-from),
      black var(--tick-to),
      transparent var(--tick-to)
    ),
    linear-gradient(
      150deg,
      transparent,
      transparent var(--tick-from),
      black var(--tick-from),
      black var(--tick-to),
      transparent var(--tick-to)
    );
}

.direction {
  position: absolute;
  height: 50%;
  left: 50%;
  transform-origin: center bottom;
  transform: translateX(-50%) rotate(var(--rotation));
}

.number {
  transform: rotate(calc(-1 * var(--rotation)));
  font-size: calc(var(--size) / 8);
  color: white;
}

.hand {
  z-index: 1;
}

.hours-hand {
  --rotation: 26deg;
  width: calc(var(--size) / 45);
  background: linear-gradient(to top, black, black 65%, transparent 65%);
}

.minutes-hand {
  --rotation: 56deg;
  width: calc(var(--size) / 90);
  background: linear-gradient(to top, black, black 90%, transparent 90%);
}

.seconds-hand {
  width: calc(var(--size) / 180);
  background: linear-gradient(to top, black, black 80%, transparent 80%);
}

.hand-center {
  z-index: 1;
  position: absolute;
  width: calc(var(--size) / 25);
  height: calc(var(--size) / 25);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: black;
}

.toolbar {
  height: var(--toolbar-height);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.button {
  height: 48px;
  padding: 0 16px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.75;
  border-radius: 8px;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 1;
}

.time-shift {
  min-width: 40px;
  text-align: center;
}
